body
 {
    background-image: url("Abu.jpg");
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
    
 }
.div_c
{
    padding: 50px 16px;
    border-radius: 20px;
    width:97%;
    margin:auto;
    margin-bottom:30px;
}
.div_c img
{
float:right;
width:200px;
height:auto;
border-radius: 10px;
margin-left:50px;
}
.div_c h1
{
  color:#1611f5;
  margin-left:50px;
  margin-bottom:40px;
}
.div_c h3
{
  margin-left:50px;

  width:100px;
}
.div_c2
{
  padding: 50px 16px;
  border-radius: 20px;
   width:97%;
  margin:auto;
  margin-bottom:15px;
  
}
.div_c2 h1
{
  color:#1611f5;
  margin-left:50px;
  text-align: right;
}
.div_c2 h3
{
  text-align: right;
  margin-top:30px;
}
.div_c2 img
{
float:left;
width:200px;
height:auto;
border-radius: 10px;
margin-left:50px;
}
