body
 {
    background-image: url("Abu.jpg");
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
    
 }
.div_c
{
    padding: 50px 16px;
    border-radius: 20px;
    width:97%;
    margin:auto;
    margin-bottom:15px;
}
.div_c img
{
float:right;
width:200px;
height:auto;
border-radius: 10px;
margin-left:50px;
}
.div_c h1
{
  color:#0003a6;
  margin-left:50px;
  
}
.div_c h3
{
  color:#0003a6;
  margin-left:50px;
  margin-top:20px;
  width:100px;
}
.div_c2
{
    padding: 50px 16px;
    border-radius: 20px;
    width:97%;
    margin:auto;
    margin-bottom:15px;
}
.div_c2 img
{
float:left;
width:200px;
height:auto;
border-radius: 10px;
margin-left:50px;
}
.div_c2 h1
{
  margin-top:50px;
  color:#0003a6;
  margin-left:50px;
  text-align: right;
}
.div_c2 h3
{
  color:#0003a6;
  margin-left:50px;
  text-align: right;
}