#div_main {
    background-color: black;
    opacity: 0.6;
    height: auto;
    position: relative;
    max-width: 1000px;
    padding: 50px;
}

.image {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background-image: url("nigg.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
    background-repeat: no-repeat;
}

.div_c {
    padding: 50px 16px;
    border-radius: 20px;
    width: 97%;
    margin-bottom: 15px;
}

.div_c img {
    float: right;
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-left: 50px;
}

.div_c p {
    text-align: left;
}

.div_c p {
    text-align: left;
}

#page {
    margin: 0 auto 0 auto;
    margin-top: 10px;
    display: block;
    height: auto;
    position: relative;
    overflow: hidden;
    width: 742px;
}

#top img {
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}

#header {
    background-repeat: no-repeat;
    height: 155px;
    width: 742px;
    display: block;
    clear: both;
}

#header h1 {
    position: relative;
    margin-left: 100px;
    padding-top: 7px;
    text-align: center;
    color: #FFFFFF;
    font-size: 47px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#header h2 {
    margin-left: 170px;
    margin-top: 2px;
    padding-right: 21px;
    position: relative;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#content {
    width: 742px;
    width: 90%;
    top: 30px;
    left: 20px;
    clear: both;
}

#content .content_top {
    background-repeat: no-repeat;
    height: 70px;
    width: 742px;
}

#content .content_top h1 {
    padding-top: 23px;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
}

#content .content_instance {
    width: 742px;
    height: 300px;
    clear: both;
    background-repeat: repeat-x;
}

#content .content_instance_big h2 {
    font-size: 26px;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}

#content .content_instance_big p {
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}

a img {
    border: none;
}

#content .content_instance_big {
    padding-top: 10px;
    width: 742px;
    height: auto;
    clear: both;
    background-repeat: repeat-x;
}

#content .content_instance img {
    width: 300px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 15px;
    float: left;
    clear: none;
}

#content .content_instance .content_right {
    margin-top: 30px;
    width: 385px;
    float: left;
}

#content .content_instance .content_right p {
    text-align: justify;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

#content .content_instance h2 {
    color: #FFFFFF;
    padding-bottom: 7px;
}