body
 {
    background-image: url("Abu.jpg");
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
    
 }


.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
   
    margin-top: 20px;
  }

  
  .container ul{
    padding: 0px;
    margin: 0px;
   
    
  }
  
  
  .container ul li{
    float:left;
    list-style: none;
    padding: 50px 16px;
    background: black;
    color:white;
    margin :20px 0px 20px 55px;
    border:2px solid grey;
    box-sizing: border-box;
    opacity:0.8;
  }
  .image
    {
    width:450px;
    height:auto;
    }
  
  .container ul li .bottom{
    padding: 20px 16px;
    line-height: 50px;
    background: #8593a8;    
    text-align: center;
    color:white;
    font-size: 20px
  }
  




